@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (orientation: landscape) {
  html {
    font-size: 1vmin;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 1.1vmin;
  }
}

html {
  letter-spacing: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.preventBurnInMove {
  animation: move 100s forwards infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

.preventBurnInHue {
  animation: hueRotate 20s forwards infinite;
  animation-timing-function: linear;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(20deg) grayscale(0);
  }

  25% {
    filter: hue-rotate(-20deg) grayscale(0);
  }

  50% {
    filter: hue-rotate(20deg) grayscale(0.5);
  }

  75% {
    filter: hue-rotate(-20deg) grayscale(0);
  }

  100% {
    filter: hue-rotate(20deg) grayscale(0);
  }
}